@charset "utf-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --c-glass: #aaa;
    --c-light: #f2f3f4;
    --c-dark: #222;

    --f-formal: "Figtree", sans-serif;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;

    --saturation: 150%;

    --glass-bg: color-mix(in srgb, var(--c-glass) 12%, transparent);

    --glass-effect:
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
        inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-light: #222 !important;
        --c-dark: #f2f3f4 !important;
    }
}

html,
body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--f-formal);
    /* font-optical-sizing: auto; */
    font-weight: normal;
    font-style: normal;

    background: var(--c-light);
    color: var(--c-dark);

    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--c-dark);
}

a:hover {
    opacity: .7;
}

img {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

/* MENU */
.header {
    position: fixed;
    top: 0;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    font-weight: bold;

    padding: 2rem 4rem 0;
    z-index: 5;
}

.logo {
    height: 60px;
}

.logo-img {
    height: 60px;

    background: url("../img/logo_ClrZ_minimal.png") no-repeat center / contain;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: .5rem 2rem;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 4rem;
}

.cta-btn {
    width: 200px;
    height: 200px;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 10;
}

.cta-btn-txt {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* KV */
.kv {
    position: relative;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app-title {
    position: absolute;

    font-size: 3rem;

    left: 15vw;
    top: 10vh;
}

.kv-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    z-index: -1;
}

.kv-img {
    position: absolute;
    height: auto;
}

.sp1 {
    width: 15vw;
    left: 10vw;
}

.sp2 {
    width: 20vw;
    left: 30vw;
}

.pc {
    width: 40vw;
    right: 10vw;
}

.blocks {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
}

.b1,
.b2,
.b3 {
    width: 100%;
    background: var(--glass-bg);
    backdrop-filter: blur(1px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(1px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);
    border-radius: 1rem;
}

.b1 {
    height: 200px;
}

.b2 {
    height: 400px;
}

.b3 {
    height: 600px;
}

/* SUBSCRIPTION */
.subscription {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 5vh;
    margin-bottom: 10vh;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.card {
    width: 20vw;
    height: 50vh;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5vh;
}

.card h3 {
    font-size: 1.5vw;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card-txt,
.list {
    font-size: 1vw;
}

/* DOWNLOAD */
.download {
    background: var(--c-light);
    color: var(--c-dark);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.platforms {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5vh;
}

.platform {
    position: relative;
    color: var(--c-dark);
    font-weight: 800;
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
    z-index: 5;
    user-select: none;
}

/* GLASS */
.highlight {
    position: absolute;
    inset: 0;
    width: 0;
    height: 0;
    border-radius: 3rem;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    transition: all 3s cubic-bezier(.25, 1, .5, 1);
    pointer-events: none;
    z-index: 10;
}

.download-btn {
    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 8rem;
    padding: 1rem 3rem;

    font-weight: bold;
    font-size: 3rem;

    display: flex;
    justify-content: center;
}

.download-btn:hover {
    opacity: .7;
}

/* FOOTER */
.floor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-bottom: 2rem;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 45vw;
    height: 35vh;
    padding: 4rem;
    border-radius: 1rem;

    color: var(--c-dark);

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-style: normal;
    font-size: 1rem;
}

.info dt {
    clear: left;
    float: left;
    width: 1rem;
    margin-right: 4rem;
}

.info dd {
    overflow: hidden;
}

.link {
    color: #222;
    text-decoration: underline;
}

.form {
    width: 20vw;
    height: 30vw;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 1vw;
}

label {
    display: block;
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 700;
    color: #555;
}

.required {
    color: #d55;
    font-size: .5vw;
    font-weight: 500;
    margin-left: .5vw;
}

.optional {
    font-size: .5vw;
    font-weight: 500;
    margin-left: .5vw;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: .5rem;
    box-sizing: border-box;
    transition: border-color .3s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: var(--c-dark);
    outline: none;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
}

textarea {
    resize: none;
}

.file-note {
    font-size: .8vw;
    color: #555;
    margin-top: .5vw;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: .5vw;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: .5rem;
    color: var(--c-dark);
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color .3s, transform .1s;
    margin-top: 2vw;
}

.submit-btn:hover {
    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: .5rem;
    color: var(--c-light);
}

.submit-btn:active {
    transform: translateY(1px);
}

.download .footer {
    position: absolute;
    bottom: 0;
}

.footer-txt {
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
}
